@model MVC_TicariOtomasyon.Models.Siniflar.Departman
@{
    ViewBag.Title = "DepartmanGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Departman Düzenle</h2>
<br />
@using (Html.BeginForm("DepartmanGuncelle", "Departman", FormMethod.Post))
{
<div class="form-group">
    @Html.HiddenFor(x => x.DepartmanID)
    @Html.LabelFor(x => x.DepartmanAd)
    @Html.TextBoxFor(x => x.DepartmanAd, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.DepartmanAd, "", new { @style = "color:red" })
    <br />

</div>
    <button class="btn btn-warning">Güncelle</button>
}
